.container {
  height: calc(100vh - 140px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 1px black;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border: solid 1px black;
  width: 700px;
}

.text-center {
  border: solid 1px black;
  padding: 10px;
}

ul {
  height: 400px;
  overflow: scroll;
}

li {
  list-style: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  width: 500px;
  overflow: hidden;
}
