@import "user_mypage_container.css";

.bg {
  background-image: url("../img/userimage.png");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.text-center {
  font-size: 20px;
  font-weight: 300;
  padding: 50px;
}

.pwform {
  padding-bottom: 30px;
  padding-top: 30px;
  width: 500px;
  font-size: 16px;
}

table {
  border-collapse: separate;
  border-spacing: 10px;
}

table input {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px;
  outline: none;
}

.wrap2 {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.t1 {
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  margin: 10px 10px;
  margin-top: 20px;
  width: 200px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.t2 {
  color: black;
  font-size: 15px;
}

.t2:hover {
  color: #9ebf56;
}

.i1 {
  border: none;
  background-color: transparent;
  font-size: 15px;
}

.i1:hover {
  color: #9ebf56;
}

@media (max-width: 575px) {
  .bg {
    background-image: none;
  }
  .container {
    height: 85%;
    height: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 7px #999;
    padding: 30px 10px;
  }
  .wrap {
    width: 100%;
  }
  .t1 {
    background-color: #d9c1bb;
    padding: 5px;
    margin: 5px 5px;
    width: 100px;
    box-shadow: 2px 2px 4px #999;
  }
  .t2 {
    font-size: 12px;
  }
  .i1 {
    font-size: 12px;
  }
  .t2:hover {
    color: white;
  }
  .i1:hover {
    color: white;
  }
  .pwform {
    width: 90%;
    margin: 0 auto;
    font-size: 12px;
  }
  .text-center {
    font-size: 18px;
    font-weight: 400;
    padding: 0;
  }
}

@media (max-height: 440px) and (max-width: 820px) {
  .bg {
    background-image: none;
  }
  .container {
    height: 40%;
    width: 70%;
    border-radius: 20px;
    box-shadow: 2px 2px 7px #999;
    padding: 40px 10px;
  }
  .wrap {
    width: 100%;
  }
  .t1 {
    background-color: #d9c1bb;
    padding: 5px;
    margin: 5px 5px;
    width: 100px;
    box-shadow: 2px 2px 4px #999;
  }
  .t2 {
    font-size: 12px;
  }
  .i1 {
    font-size: 12px;
  }
  .t2:hover {
    color: white;
  }
  .i1:hover {
    color: white;
  }
  .pwform {
    width: 90%;
    margin: 0 auto;
    font-size: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .text-center {
    font-size: 18px;
    font-weight: 400;
    padding: 0;
  }
  table {
    border-spacing: 5px;
  }
  table input {
    font-size: 5px;
    padding: 3px;
  }
  .wrap2 {
    padding-top: 10px;
  }
}
