.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bg {
  background-image: url("../img/userimage.png");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.445);
  border-radius: 20px;
  width: 700px;
}

.text-center {
  font-size: 20px;
  font-weight: 300;
  padding: 50px;
}

.pwform {
  padding-bottom: 30px;
  width: 500px;
  font-size: 16px;
}

.wrap2 {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.t1 {
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  margin: 10px 10px;
  margin-top: 20px;
  width: 200px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.t2 {
  color: black;
  font-size: 15px;
}

.t2:hover {
  color: #9ebf56;
}

.i1 {
  border: none;
  background-color: transparent;
  font-size: 15px;
}

.i1:hover {
  color: #9ebf56;
}

@media (max-width: 575px) {
  .bg {
    background-image: none;
  }
  .wrap {
    width: 250px;
    box-shadow: 2px 2px 7px #999;
  }
  .t1 {
    background-color: #d9c1bb;
    padding: 5px;
    margin: 5px 5px;
    width: 100px;
    box-shadow: 2px 2px 4px #999;
  }
  .t2 {
    font-size: 12px;
  }
  .i1 {
    font-size: 12px;
  }
  .t2:hover {
    color: white;
  }
  .i1:hover {
    color: white;
  }
  .pwform {
    width: 230px;
    font-size: 7px;
  }
  .text-center {
    font-size: 15px;
  }
}
