.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bg {
  background-image: url("../img/userimage.png");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.445);
  border-radius: 20px;
  width: 700px;
}

.text-center {
  font-size: 20px;
  font-weight: 300;
  padding: 50px;
}

.wrap2 {
  background-color: rgba(255, 255, 255, 0.575);
  margin-bottom: 40px;
  border-radius: 10px;
}

ul {
  padding: 10px;
  height: 300px;
  overflow: scroll;
}

li {
  list-style: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  width: 500px;
  overflow: hidden;
}

.title {
  color: black;
}

.title:hover {
  color: #9ebf56;
}

@media (max-width: 575px) {
  .bg {
    background-image: none;
  }
  .wrap {
    width: 300px;
    box-shadow: 2px 2px 7px #999;
  }
  .wrap2 {
    width: 270px;
    box-shadow: 2px 2px 4px #999;
  }
  .text-center {
    font-size: 15px;
  }
  .title {
    font-size: 12px;
  }
  .title:hover {
    color: #d9c1bb;
  }
  }
  li {
    width: 250px;
  }
  .pwform {
    width: 230px;
    font-size: 7px;
  }
}
