#top_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login{
    text-decoration:none;
    color:white;
}

.sign_up{
    text-decoration:none;
    color:white;
}
  button.user_form{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:30px;
    font-size:15px;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  button.user_form:hover{
    background:#fff;
    color:#1AAB8A;
  }
  button.user_form:before,button.user_form:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  button.user_form:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button.user_form:hover:before,button.user_form:hover:after{
    width:100%;
    transition:800ms ease all;
  }