/*
.main_container {
  margin: 0;
}
*/

#content,
.information,
.new,
.call {
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  overflow: hidden;
  /*position: relative;*/
}

video {
  width: 100%;
}

.product_text {
  width: 100%;
  top: 25%;
  position: absolute;
  text-align: center;
}

#content__top h1 {
  font-family: "Pangolin", cursive;
  font-size: 100px;
  color: #ffffff;
  text-shadow: -3px 0 #5e7a2d, 0 2px #5e7a2d, 2px 0 #5e7a2d, 0 -2px #5e7a2d;
}

.search_form {
  width: 550px;
  height: 40px;
  border: 1px solid #9ebf56;
  background-color: #ffffff;
  margin: 0 auto;
  border-radius: 10px;
}

#product_search_input,
#product_search_btn {
  border: 0px;
  border-radius: 5px;
  outline: none;
}

#product_search_input {
  width: 480px;
  font-size: 15px;
  padding: 10px;
  float: left;
}

#product_search_btn {
  width: 40px;
  height: 100%;
  float: right;
  background-color: #9ebf56;
}

#product_search_btn i {
  font-size: 20px;
  color: #ffffff;
  background-color: #9ebf56;
}

.information {
  background-image: url("../img/main2.png");
}

.info_text {
  width: 80%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_text .left {
  width: 400px;
  font-size: 80px;
  color: #3c3530;
}

.info_text .right {
  width: 600px;
}

.new {
  background-image: url("../img/main3.png");
  display: flex;
  flex-direction: column;
}

.navbarcontain {
  display: flex;
  justify-content: space-between;
}

#menu {
  margin: 30px;
  border: none;
  background-color: transparent;
}

#menu:hover {
  color: #f27d52;
}
button {
  outline: 0;
}

.list {
  color: #3c3530;
  text-decoration: none;
  font-size: 17px;
}

.list:hover {
  color: white;
}

li {
  margin-bottom: 10px;
}

a {
  color: #3c3530;
}

a:hover {
  color: white;
}

ul {
  margin-top: 80px;
  margin-bottom: 100px;
  padding-left: 200px;
}

.new_text {
  background-image: url("../img/main3_2.png");
  background-size: auto;
  background-position: center center;
  border-radius: 20px;
  width: 700px;
  height: 300px;
}

.call {
  background-image: url("../img/main4.png");
}

.instagrams {
  width: 80%;
  height: 500px;
}
