.h2 {
  border: solid 1px black;
  padding: 10px;
}

.bigcontainer {
  height: calc(100vh - 140px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  border: solid 1px black;
  width: 700px;
}

li {
  list-style: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  width: 500px;
  overflow: hidden;
}
