body,
html {
  height: 100%;
}

.bg {
  background-image: url("../img/userimage.png");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.search_form {
  width: 500px;
  position: relative;
}

.search_form .form-control {
  width: 100%;
  height: 25px;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  outline: none;
  border: 1px solid #aacd6e;
  transition: 0.2s;
}

.search_form .btn {
  position: absolute;
  width: 25px;
  height: 100%;
  right: 0%;
  border-radius: 15px;
  outline: none;
  border: 1px solid #aacd6e;
  background-color: white;
  color: #aacd6e;
  transition: 0.2s;
}
.search_form .btn:hover {
  border: 1px solid #aacd6e;
  background-color: #aacd6e;
  color: white;
}

.search_form:focus-within > .form-control {
  height: 40px;
  padding: 10px 65px 10px 10px;
}

.search_form:focus-within > .btn {
  width: 60px;
}

.main_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.local_container {
  height: 100%;
  background-color: white;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: solid 1px black; */
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  /* border: solid 1px black; */
  width: 700px;
}

.posts {
  height: 500px;
  overflow: scroll;
}

.edit {
  border: solid 1px black;
  border-radius: 30px;
  background-color: black;
  padding: 20px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  animation: hover 5s infinite ease-in-out;
  transform-origin: center;
}

@keyframes hover {
  0% {
    transform: translateY(0px);
    box-shadow: #cdcdcd 1px 1px 1px;
  }
  50% {
    transform: translateY(-10px) scale(1.05);
    box-shadow: #cdcdcd 1px 1px 8px;
  }
  100% {
    transform: translateY(0px);
    box-shadow: #cdcdcd 1px 1px 1px;
  }
}

#pencil {
  color: white;
}

.post_grid-header {
  display: grid;
  grid-template-columns: 6fr 2fr 1fr 2fr 2fr;
  border-bottom: 2px solid #3c3530;
  padding-bottom: 5px;
}

.post_grid-ul {
  height: 550px;
  overflow-y: scroll;
  padding: 0;
  margin-right: -5px;
}

.post_grid-a {
  display: grid;
  grid-template-columns: 6fr 2fr 1fr 2fr 2fr;
  text-decoration: none;
  color: #3c3530;
  border-bottom: 1px solid #3c3530;
  padding: 8px 0px;
  height: 35px;
  box-sizing: border-box;
}

.post_grid-a:hover {
  color: #fdfdfd;
  /* border-bottom: 1px solid #fdfdfd; */
  background-color: #aacd6e;
  /* text-shadow: #fdfdfd 1px 1px 1px; */
  transition: 0.1s;
}

.post_grid-header > *,
.post_grid-a > *:not(:first-child) {
  text-align: center;
}

.post_title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.fa-heart {
  margin-right: 2px;
}

.pagination {
  display: flex;
  margin-top: 20px;
}

.pagination_head,
.pagination_tail {
  display: flex;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 2px;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s;
}

.page:hover {
  background-color: #aacd6e;
  color: white;
}
