@import "background.css";
@import "post_container.css";

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 100px;

  /* border: solid 1px black; */
  width: 700px;
}

.post_reuslt{
  font-size: 30px;
	font-weight: 400;
	line-height: 100x;
}

.search_form {
  width: 500px;
  position: relative;
}

.search_form .form-control {
  width: 100%;
  height: 25px;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  outline: none;
  border: 1px solid #aacd6e;
  transition: 0.2s;
}

.search_form .btn {
  position: absolute;
  width: 25px;
  height: 100%;
  right: 0%;
  border-radius: 15px;
  outline: none;
  border: 1px solid #aacd6e;
  background-color: white;
  color: #aacd6e;
  transition: 0.2s;
  cursor: pointer;
}
.search_form .btn:hover {
  border: 1px solid #aacd6e;
  background-color: #aacd6e;
  color: white;
}

.search_form:focus-within > .form-control {
  height: 40px;
  padding: 10px 65px 10px 10px;
}

.search_form:focus-within > .btn {
  width: 60px;
}

.post_grid-wrapper {
  width: 100%;
}

.post_grid-header {
  display: grid;
  grid-template-columns: 6fr 2fr 1fr 2fr;
  border-bottom: 2px solid #3c3530;
  padding-bottom: 5px;
}

.post_grid-ul {
  height: 550px;
  overflow-y: scroll;
  padding: 0;
  margin-right: -5px;
}

.post_grid-a {
  display: grid;
  grid-template-columns: 6fr 2fr 1fr 2fr;
  text-decoration: none;
  color: #3c3530;
  border-bottom: 1px dashed #3c3530;
  padding: 8px 0px;
  height: 35px;
  box-sizing: border-box;
}

.rated_post_grid-a,
.rated_post_grid-header {
  grid-template-columns: 6fr 2fr 1fr 2fr 2fr;
}

.post_grid-a:hover {
  color: #fdfdfd;
  /* border-bottom: 1px solid #fdfdfd; */
  background-color: #aacd6e;
  border-bottom: 1px solid #3c3530;
  /* text-shadow: #fdfdfd 1px 1px 1px; */
  transition: 0.1s;
}

.post_grid-header > *,
.post_grid-a > *:not(:first-child) {
  text-align: center;
}

.post_title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 5px;
  box-sizing: border-box;
}

.fa-heart {
  margin-right: 2px;
}

.pagination {
  display: flex;
  margin-top: 20px;
}

.pagination_head,
.pagination_tail {
  display: flex;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 2px;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s;
}

.page:hover {
  background-color: #aacd6e;
  color: white;
}
