{% extends 'posts/layout.html' %}
{% load i18n %}
{% load account %}
{% load static %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock head_block %}

{% block global_block %}
<div class="bg"></div>
<div class='all_content'>
    <h1 class="login_title">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <div class="password_setting">
                <form class="password_form" method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class='submit_button'>
                    <input class="primaryAction" type="submit" name="action" value="{% trans 'change password' %}"/>
                    </div>
                </form>
            </div>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
</div>
{% endblock global_block %}