{% extends 'posts/layout.html' %}
{% load i18n %}
{% load account %}
{% load static %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock head_block %}


{% block global_block %}

<div class="bg"></div>
<div class='all_content'>
    <h1 class="login_title">{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    </br>
    <p class='password_info'>비밀번호를 잊으셨나요?</p>
    <p class='password_info'>이메일을 입력하시면</p>
    <p class='password_info'>비밀번호 초기화 이메일을</p>
    <p class='password_info'>보내드리겠습니다.</p>

    </br></br></br>
    <div class="local_password_reset">
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form.as_p }}
            </br></br></br>
            <div class='submit_button'>
            <input type="submit" class="primaryAction" value="{% trans 'Reset My Password' %}" />
            </div>
        </form>
    </div>

    </br></br></br></br></br>
    <p class='password_info'>비밀번호 초기화에 문제가 있으시면</p>
    <p class='password_info'>저희에게 연락을 주세요.</p>

{% endblock global_block %}