{% extends 'posts/layout.html' %}
{% load i18n %}
{% load account %}
{% load static %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock head_block %}


{% block global_block %}
<div class="bg"></div>
<div class='all_content'>
    <h1 class="login_title">{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p class='password_info'>이메일이 전송되었습니다.</p>
</div>
{% endblock global_block %}