{% extends 'posts/layout.html' %}
{% load i18n %}
{% load static %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock head_block %}


{% block global_block %}
<h1 class="login_title">{% trans "Sign Up" %}</h1>

<p class='login_info'>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="login_form" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <br/>
  <button class="primaryAction" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock global_block %}