{% extends 'posts/layout.html' %}
{% load i18n %}
{% load static %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock head_block %}


{% block global_block %}

<div class="bg"></div>
<div class='all_content'>
  <h1 class="login_title">{% trans "Sign Up" %}</h1>

  <p style='line-height:30%'>&nbsp</p>
  <p class='login_info' style='line-height:100%'>이미 계정이 있으신가요?</p>
  <p class='login_info'>바로 &nbsp<a href="{{ login_url }}"> 로그인</a>&nbsp하세요</p>

  <p style='line-height:10%'>&nbsp</p>
  <div class="local_signup">
    <form class="signupform" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <br/>
      <div class='submit_button'>
      <button class="primaryAction" type="submit" >{% trans "Sign Up" %} &raquo;</button>
      </div>
    </form>
  </div>

</div>
{% endblock global_block %}