{% extends 'search/layout.html' %}
{% load static %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock head_block %}

{% block local_block %}

  <div id="box_wrap">
    <div class="search_form" >
        <input id="product_search_input" onkeyup="onKeyUp(event)" type="text" name="" id="" placeholder="제품명을 검색해봐요!">
        <button id="product_search_btn" onclick = "onProductSearchBtnClicked()" type="submit"><i class="fas fa-search"></i></button>
    </div>
    <div id="search_result">
        <ul></ul>
    </div>
  </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'js/clickSearchBtn.js' %}"></script>
    <script src="{% static 'js/product_detail.js' %}"></script>
{% endblock local_block %}