{% extends 'reports/layout.html' %}
{% load static %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'css/tipoff.css' %}" />
{% endblock head_block %}

{% block title_block %}| 제보해요! {% endblock title_block %}

{% block local_block %}
<div class='bg'></div>
  <div class="container">
    <div class="wrap">
      <p class="post_title">제보하기</p>
      <p class="post_info">잘못된 정보를 제보해주세요!</p>
      <div class='post_content'>
        <form action="{% url 'search:tip_off_create' %}" method="post" enctype="multipart/form-data" autocomplete="off" class="post_create_form">
            {% csrf_token %} 

            {{form.media}} 
            {{form.as_p}}
      
            {% if alert_flag %}
            <script>
                alert("내용을 입력하세요");
                history.back();
            </script>
            {% endif %}

            {% if prdlstReportNo %}
                <input type="hidden" name="prdlstReportNo", value={{prdlstReportNo}}>
            {% endif %}
            <div class="wrap2">
                <input class="i1" type="submit" value="저장" />
            </div>
        </form>
      </div>
    </div>
  </div>
{% endblock local_block %}