{% extends 'search/layout.html' %}
{% load static %}

{% block head_block %}
{% endblock head_block %}

{% block local_block %}
<div class='bg'></div>
  <div class="container">
    <div class="wrap">
      <p class="post_title">제보하기</p>
      <div class='post_create_content'>
        <form
          action=""
          method="post"
          enctype="multipart/form-data"
          autocomplete="off"
          class="post_create_form"
        >
          {% csrf_token %} {{form.media}} {{form.as_p}}
      
      {% if alert_flag %}
      <script>
        alert("내용을 입력하세요");
        history.back();
      </script>
      {% endif %}
          <div class="wrap2">
            <input class="i1" type="submit" value="저장" />
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock local_block %}
