{% extends 'layout.html' %}

{% block head_block %}
<nav id='top_nav'>
        <ul>
            <a href="">이건?비건!</a>
            <!--유진아 마이페이지 잘 연결되는지 확인하려고 이거 내가 추가했어!! 놀라지말길-->
            {% if user.is_authenticated %}
            <a href="{% url 'users:user_page' pk %}">마이페이지</a>
            
            <a href="/accounts/logout">로그아웃</a>
            <br>
            {{user.username}} 님이 로그인 중

            {% else %}

            <a href="/accounts/signup">회원가입</a>
            <br/>
     
            <a href="/accounts/login" class='local_login'>로그인</a>
        
           
            {% endif %}

        </ul>
</nav>
{% endblock head_block %}

{% block global_block %}
    <div class="user_container">
        {% block content_block %}
        {% endblock content_block %}
    </div>
{% endblock global_block %}