{% load socialaccount %}
{% providers_media_js %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

        <ul>
           
            {% if user.is_authenticated %}
            <a href="/accounts/logout">로그아웃</a>
            <br>
            {{user.username}} 님이 로그인 중

            {% else %}
            <a href="{% provider_login_url "google" %}">구글 로그인</a>
            <a href="{% provider_login_url "naver" %}">네이버 로그인</a>
            <a href="{% url 'kakao_login' %}">카카오 로그인</a>

            {% endif %}
        </ul>
    
</body>
</html>



