{% extends 'posts/layout.html' %} {% load static %} {% block head_block %}
<link rel="stylesheet" href="{% static 'css/user_page.css' %}" />
{% endblock head_block %} {% block local_block %}

<div class="bg"></div>
<div class="container">
  <div class="wrap">
    {% if request.user.pk == person.pk %}
    <h2 class="pagename">{{person.nickname}}의 페이지</h2>
    <p>
      사용자 이름(id) : {{person.username}}<br /><br/>
      성 : {{person.last_name}}<br /><br/>
      이름 : {{person.first_name}}<br /><br/>
      이메일 : {{person.email}}
    </p>
    <br>
    <div class="wrap2">
      <div class="miniwrap">
        <div class="t1"><a class="btn" href="{% url 'users:user_edit' person.pk %}"
          >프로필 편집</a
        ></div>
        <div class="t1"><a class="btn" href="{% url 'users:user_delete' person.pk %}"
          >회원 탈퇴</a
        ></div>
      </div>
      </br/>
      <br/>
      <div class="miniwrap2">
        <div class="t1"><a class="btn" href="{% url 'users:user_bookmark' person.pk %}"
          >북마크</a
        ></div>
        <div class="t1"><a class="btn" href="{% url 'users:user_mylist' person.pk %}"
          >내가 쓴 글</a
        ></div>
      </div>
      <br/>
      {% else %}
        <p>다른 사용자의 마이 페이지에 접근할 수 없습니다.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock local_block %}
