{% extends 'posts/layout.html' %} {% load static %} {% block head_block %}
<link rel="stylesheet" href="{% static 'css/user_password.css' %}" />
{% endblock head_block %} {% block local_block %}
<div class="container">
  <div class="wrap">
    {% if request.user.pk == user.pk %}
    <h2 class="text-center">비밀번호 변경</h2>
    <form method="POST">
      {% csrf_token %}
      <table>
        {{ password_change_form }}
      </table>
      <div class="wrap2">
        <input class="i1" type="submit" value="저장" />
      </div>
    </form>
    {% else %}
    <p>다른 사용자의 비밀번호 변경에 접근할 수 없습니다.</p>
    {% endif %}
  </div>
</div>
{% endblock local_block %}
