{% extends 'layout.html' %}
{% load static %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'css/about_us.css' %}">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
{% endblock head_block %}

{% block global_block %}
<div class="head">
    <div class='wave -one'></div>
    <div class='wave -two'></div>
    <div class='wave -three'></div>
    <div class='title' data-aos="flip-down" data-aos-duration="1000">about_us</div>

    <div class="white-dot-scroll"></div>
</div>
<div class="section-1-scroll">
    <section class="section-1">
        <div class="chevron-right"></div>
        <div class="section-1_content">
            <h2 data-aos="flip-down" data-aos-anchor-placement="bottom-center">
                About<br>
                Us
            </h2>
        </div>
        <div class="chevron-left"></div>
    </section>
    <div class="section-1_member-card-container">
        <div class="section-1_member-card">
            <img src="{% static 'img/신현지.png' %}" alt="" srcset="">
            <h3>신현지</h3>
            <p></p>
        </div>

        <div class="section-1_member-card">
            <img src="{% static 'img/박은혜.png' %}" alt="" srcset="">
            <h3>박은혜</h3>
            <p></p>
        </div>

        <div class="section-1_member-card">
            <img src="{% static 'img/박지인.png' %}" alt="" srcset="">
            <h3>박지인</h3>
            <p>PWA와 PUSH 알림, 검색 기능의 일부를 구현했습니다! 피로그래밍 활동을 하면서 정말 많은 것들을 배우고, 저에게는 과분한 사람들을 만날 수 있었습니다. 모두, 감사합니다.</p>
        </div>

        <div class="section-1_member-card">
            <img src="{% static 'img/박희진.png' %}" alt="" srcset="">
            <h3>박희진</h3>
            <p>마이페이지와 메인화면의 일부를 구현했습니다! 이번 프로젝트에서 좋은 팀원들을 만난 덕분에 정말 민망한 실력에서 많이 배워갈 수 있었던 것 같습니다^.^ 이건비건팀 짱!! </p>
        </div>

        <div class="section-1_member-card">
            <img src="{% static 'img/성유진.png' %}" alt="" srcset="">
            <h3>성유진</h3>
            <p></p>
        </div>
    </div>
</div>

<div class="section-2-scroll">
    <section class="section-2" data-aos="zoom-in" data-aos-anchor-placement="center-center">
        <button><i class="fas fa-tools"></i></button>
    </section>
    <div class="section-2_margin"></div>

    <section class="section-3" >
        <div class="color-list-container">
        </div>
        <div class="canvas-container" data-aos="flip-left" >
            <canvas></canvas>
            <h3 draggable="true" class="color-name"></h3>
            <div class="brush-preview-container">
                <div class="brush-preview"></div>
            </div>
            <input class="brush-range" type="range" name="" id="" min="1" max="10">
        </div>
    </section>
</div>

<script src="{% static 'js/about_us_tools.js' %}"></script>
<script src="{% static 'js/about_us_color.js' %}"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
  window.addEventListener('load', AOS.refresh);
</script>

{% endblock global_block %}