.MEAT {
  background-color: red;
}

.FISH {
  background-color: cornflowerblue;
}

.EGG {
  background-color: burlywood;
}

.MILK {
  background-color: gold;
}

.ECT {
  background-color: cadetblue;
}
