@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.bg {
  background-image: url("../img/userimage.png");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* body{
  background-image: url("../img/userimage.png");
  height: 100%;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  

} */
.form-inline{
  display:none;
}

#box_wrap{
  height:120%;
  min-height: 900px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction:column;
  padding:20px 70px 20px 70px;
  font-family: 'Jua', sans-serif;
  font-size:1.5rem;
}
  
.search_form{
  
  display:flex;
  justify-content: center;
  margin-top:50px;
}
.local_container{
  display:flex;
  justify-content: center;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 600px;
  border: 0;
  font-family: inherit;
  padding: 16px 12px 0 12px;
  
  font-size: 16px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 -1px 0 rgba(166, 160, 133, 0.3);
  color: #000;
  transition: all 0.15s ease;
}
input:hover {

  box-shadow: inset 0 -1px 0 rgba(166, 160, 133, 0.5);
}
input:focus {
  background: rgba(0, 0, 0, 0.05);
  outline: none;
  box-shadow: inset 0 -2px 0 #a6a085;
}

.modal_button{
  margin:auto;
  display:flex;
  justify-content: center;
  align-items: center;
}

button {
  color:#a6a085;
  border: none;
  border-radius: 2px;
  width:40px;

}
button:focus {
  
  box-shadow: inset 0 0 0 rgba(166, 160, 133, 1);
  outline: none;
  border:none;
}
button:active {
outline: none;
border: none;
}
          
img{
  display:flex;
  justify-content: center;
  align-items: center;
  max-height:400px;
  margin:auto;
}

span{
  
  justify-content: center;
  
}

.product_name,.product_category,.name_span{
  display: flex;
  justify-content: center;
}

.name_info{
 
  justify-content: center;
}

.modal_background{
  position: fixed;
  width:100%;
  height:100%;
  background-color:"rgba(0, 0, 0, 0.6)";
  display: flex;
  justify-content: center;
  align-items: center;
  top:0;
  left:0;
  font-family: 'Jua', sans-serif;

}

.modal_image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  
}

#text{
  white-space:nowrap; 
}

.MEAT {
  background-color: red;
  white-space:nowrap; 
  height:fit-content;
 
}

.FISH {
  background-color: cornflowerblue;
  white-space:nowrap; 
  height:fit-content;
 

}

.EGG {
  background-color: burlywood;
  white-space:nowrap; 
  height:fit-content;
 
}

.MILK {
  background-color: gold;
  white-space:nowrap; 
  height:fit-content;
 
}

.ECT {
  background-color: cadetblue;
  white-space:nowrap; 
  height:fit-content;
 
}



.edit {
  border: solid 1px #A6A085;
  border-radius: 30px;
  background-color: #A6A085;
  padding: 20px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  animation: hover 10s infinite;
  transform-origin: center;
}

@keyframes hover {
  0% {
    transform: translateY(0px);
    box-shadow: #cdcdcd 1px 1px 1px;
  }
  50% {
    transform: translateY(-5px) scale(1.03);
    box-shadow: #cdcdcd 1px 1px 8px;
  }
  100% {
    transform: translateY(0px);
    box-shadow: #cdcdcd 1px 1px 1px;
  }
}

#pencil {
  color: white;
}





