.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: solid 1px black; */
}

.main_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.local_container {
  height: 100%;
  background-color: white;
}

.bg {
  background-image: url("../img/userimage.png");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 100px;

  /* border: solid 1px black; */
  width: 700px;
}

.post_content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.post_create_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}

.post_title {
  font-size: 30px;
  font-weight: 400;
  line-height: 100px;
}
