{% extends 'posts/layout.html' %}

{% block local_block %}
    
    <div id="content">

        <div id="content__top">
            <h1>Post Search</h1>
            <br>

            </p>
        </div>

        <div class="search_prd_container">
            <form class="search_form" method="GET" action="{% url 'search:search' %}" >
                <input id="product_search_input"  type="text" name="init" id="" placeholder="제품명을 검색해봐요!">
                <button id="product_search_btn" onclick = "onProductSearchBtnClicked()" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    

        <hr/>
    </div>

    

    <div class="category">

        
        {% for category in category_list %}
            <a href="{% url 'posts:post_list' %}?category={{category}}">
            <span>{{category}}</span>
            </a>
        {% endfor %}

       

    </div>

   

    <div class="information">

        <p>비건사이트에 당도한 것을 환영하오 낯선이여<p>

    </div>

    <div class="call">

    <!-- Place <div> tag where you want the feed to appear -->
    <div id="curator-feed-default-feed-layout"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></div>
    <!-- The Javascript can be moved to the end of the html page before the </body> tag -->

    </div>


    <div class = "new">
    
        {% comment %} {% for post in posts|dictsort:'category' %}
        {% ifchanged %}
            <li>
            <a href = "{% url 'posts:post_list' %}?category={{post.category}}"><h2>{{post.category}}</h2></a>
        {% endifchanged %}
            
            <a href="{% url 'posts:post_detail' post.pk %}?category={{post.category}}">
                    <span>{{post.title}}</span>
                    <span>{{post.user.nickname}}</span>
                    <span><i class="fas fa-heart"></i> {{post.like.all|length}}</span>
                    </a>
        
            </li>
        
        {% endfor %}  {% endcomment %}
        <ul>
            <h2><a href="{% url 'posts:post_list' %}?category='COMMUNICATE'">COMMUNICATE</a></h2>
            {% for post in COMMUNICATE %}
                <li>
                    <a href="{% url 'posts:post_detail' post.pk %}?category={{post.category}}">{{post.title}}</a>
                    <i class="fas fa-heart"></i><span>{{post.get_like_count}}</span>
                </li>
            {% endfor %}
        </ul>
        <ul>
            <h2><a href="{% url 'posts:post_list' %}?category='INFO'">INFO</a></h2>
            {% for post in INFO %}
                <li>
                    <a href="{% url 'posts:post_detail' post.pk %}?category={{post.category}}">{{post.title}}</a>
                    <i class="fas fa-heart"></i><span>{{post.get_like_count}}</span>
                </li>
            {% endfor %}
        </ul>
        <ul>
            <h2><a href="{% url 'posts:post_list' %}?category='VISIT'">VISIT</a></h2>
            {% for post in VISIT %}
                <li>
                    <a href="{% url 'posts:post_detail' post.pk %}?category={{post.category}}">{{post.title}}</a>
                    <i class="fas fa-heart"></i><span>{{post.get_like_count}}</span>
                </li>
            {% endfor %}
        </ul>
        <ul>
            <h2><a href="{% url 'posts:post_list' %}?category='BUY'">BUY</a></h2>
            {% for post in BUY %}
                <li>
                    <a href="{% url 'posts:post_detail' post.pk %}?category={{post.category}}">{{post.title}}</a>
                    <i class="fas fa-heart"></i><span>{{post.get_like_count}}</span>
                </li>
            {% endfor %}
        </ul>

    </div>

    <script type="text/javascript">
    /* curator-feed-default-feed-layout */
    (function(){
    var i, e, d = document, s = "script";i = d.createElement("script");i.async = 1;
    i.src = "https://cdn.curator.io/published/cd33a21b-e808-46dc-9676-e6530d263a8b.js";
    e = d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
    })();
    </script>

  


{% endblock local_block %}