{% extends 'posts/layout.html' %}
{% load static %}

{% block local_block %}
    <div class="">
        <h1>{{post.title}}</h1>
        <span>{{post.user.nickname}}</span>
        <button id="bookmark_btn" onClick="onBookmarkBtnClicked({{post.pk}})">
            {% if bookmarked %}
                <i class="fas fa-bookmark"></i>
            {% else %}
                <i class="far fa-bookmark"></i>
            {% endif %}
        </button>
        {% if user == post.user %}
            <button><a href="{% url 'posts:post_delete' post.pk %}?category={{category}}"><i class="fas fa-trash-alt"></i><span>삭제</span></a></button>
            <button><a href="{% url 'posts:post_update' post.pk %}?category={{category}}"><i class="fas fa-edit"></i><span>수정</span></a></button>
        {% endif %}
        <button><a href="{% url 'posts:post_list' %}?category={{category}}">목록</a></button>
        <hr>
        <div class="">
            {{post.content | safe}}
        </div>
        <br>
        <button id="post_like_btn" onClick="onPostLikeBtnClicked({{post.pk}})">
            {% if user in post.like.all %}
                <i class="fas fa-heart"></i>
            {% else %}
                <i class="far fa-heart"></i>
            {% endif %}
        </button><span id="post_like_count">{{post.like.all|length}}</span>
    </div>
    <hr>
    <div class="comment_create_area">
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <button onClick="onCommentCreateBtnClicked({{post.pk}}, '{{category}}')">댓글 입력</button>
    </div>
    <div class="comments_container">
        <h3>Comments</h3>
        <ul>
            {% for comment in comments %}
                <li id="comment-{{comment.pk}}">
                    <h4 class="">{{comment.user.nickname}}</h4>
                    <p>{{comment.content}}</p>
                    <button class="comment_like_btn" onClick="onCommentLikeBtnClicked({{comment.pk}})">
                        {% if user in comment.like.all %}
                            <i class="fas fa-heart"></i>
                        {% else %}
                            <i class="far fa-heart"></i>
                        {% endif %}
                    </button> <span class="comment_like_count">{{comment.like.all|length}}</span>
                    {% if user == comment.user %}
                        <button><i class="fas fa-trash-alt"></i><span>삭제</span></button>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        axios.defaults.xsrfCookieName = "csrftoken";
        axios.defaults.xsrfHeaderName = "X-CSRFToken";
    </script>
    <script src="{% static 'js/toggleBookmark.js' %}"></script>
    <script src="{% static 'js/togglePostLike.js' %}"></script>
    <script src="{% static 'js/toggleCommentLike.js' %}"></script>
    <script src="{% static 'js/createComment.js' %}"></script>
{% endblock local_block %}