{% extends 'posts/layout.html' %}
{% load static %}

{% block local_block %}
    <div id="max-page">{{ max_page }}</div>
    <a href="{% url 'posts:post_create' %}?category={{category}}">글쓰기</a>
    <ul class="posts">
        {% for post in posts %}
            <li data-post-id="{{post.pk}}" class="post">
                <a href="{% url 'posts:post_detail' post.pk %}?category={{category}}">
                <span>{{post.title}}</span>
                <span>{{post.user.nickname}}</span>
                <span><i class="fas fa-heart"></i><span>{{post.like.all|length}}</span></span>
                </a>
            </li>
        {% endfor %}
    </ul>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        axios.defaults.xsrfCookieName = "csrftoken";
        axios.defaults.xsrfHeaderName = "X-CSRFToken";
        const category = "{{category}}"
    </script>
    <script src="{% static 'js/infiniteScroll.js' %}"></script>
{% endblock local_block %}