{% extends 'posts/layout.html' %}
{% load static %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'css/post_search.css' %}" />
{% endblock head_block %}


{% block local_block %}

<div class='bg'></div>
<div class="container">
  <div class="wrap">

    <form class="form-inline my-2 my-lg-0 search_form" action="{% url 'posts:search' %}" method="post">
       {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="kw" value="{{q}}">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </form>
    </br></br></br></br></br></br>
    <h2 class="post_reuslt">검색 결과</h2>
    {% if not posts %}
    </br></br>
    <div>아이콘 제작자 <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/kr/" title="Flaticon">www.flaticon.com</a></div>
    <p class="no_post">검색 결과가 없습니다.</p>
    
    {%else%}
    <p>{% for post in posts %}</p>

    <div class="post">
        <div class="post_baby">
          <li>
            <a
              href="{% url 'posts:post_detail' post.pk %}?category={{post.category}}"
            >
              <span>{{post.title}}</span>
              <span>{{post.user.nickname}}</span>
            </a>
          </li>
        </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock local_block%}
