{% extends 'posts/layout.html' %} 
{% load static %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'css/post_create.css' %}" />
{% endblock head_block %}

{% block local_block %}
<div class='bg'></div>
  <div class="container">
    <div class="wrap">
      <p class="post_title">게시글 작성하기</p>
      <div class='post_create_content'>
        <form action="" method="post" enctype="multipart/form-data" autocomplete="off" class="post_create_form">
          {% csrf_token %}
          {{form.media}}

          제목: {{form.title}}
          {{form.content}}

          {% if rate %}
            <input type="rating" name="rate" value="0" id="id_rate" min="0" max="5" step="0.5" style="display: none;">
            <div id="star_id_rate" class="rateit rateit-bg" data-rateit-backingfld="#id_rate" >별점: </div>
          {% endif %}
      
          {% if alert_flag %}
          <script>
            alert("내용을 입력하세요");
            history.back();
          </script>
          {% endif %}

          <div class="wrap2">
            <input class="i1" type="submit" value="저장" />
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock local_block %}
