{% extends 'posts/layout.html' %}

{% block local_block %}

  <h1>검색결과</h1>
  {% if not posts %}
    <h1>검색 결과가 없습니다.<h1>
  {%else%}
    
    {% for post in posts %}
    <div class = "container">
        <div class = "post">
            <div class = "post_baby">
                <li>
                    <a href="{% url 'posts:post_detail' post.pk %}?category={{post.category}}">
                    <span>{{post.title}}</span>
                    <span>{{post.user.nickname}}</span>
                    </a>
                </li>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
{% endblock local_block%}