{% extends 'posts/layout.html' %} {% load static %} {% block head_block %}
<link rel="stylesheet" href="{% static 'css/post_list.css' %}" />
{% endblock head_block %} {% block local_block %}
<div class="container">
  <div class="wrap">
    <div id="max-page" style="display: none">{{ max_page }}</div>
    <div class="post_grid-wrapper">
      <div class="post_grid-header">
        <span class="post_header_title">제목</span>
        <span class="post_header_user">글쓴이</span>
        <span class="post_header_like">좋아요</span>
        <span class="post_header_rate">별점</span>
        <span class="post_header_date">날짜</span>
      </div>
      <ul class="post_grid-ul">
        {% for post in posts %}
          <li class="post_grid-li">
            <a data-post-id="{{post.pk}}" class="post_grid-a" href="{% url 'posts:post_detail' post.pk %}?category={{ post.category }}">
              <span class="post_title">{{ post.title }}</span>
              <span class="post_user">{{ post.user }}</span>
              <span class="post_like"><i class="fas fa-heart"></i><span>{{ post.get_like_count }}</span></span>
              <span class="post_rate">{{ post.rate }}</span>
              <span class="post_date">{{ post.return_written_time_or_date }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    
    {% comment %} <ul class="posts">
      {% for post in posts %}
      <li data-post-id="{{post.pk}}" class="post">
        <a
          class="post2"
          href="{% url 'posts:post_detail' post.pk %}?category={{category}}"
        >
          <span
            >{{post.title}}<span class="post_rate">{{post.rate}}</span></span
          >
          <span
            >{{post.user.nickname}}<i class="fas fa-heart"></i
            ><span>{{post.like.all|length}}</span>
          </span>
        </a>
      </li>
      {% endfor %}
    </ul> {% endcomment %}
  </div>
</div>
<div class="edit">
  <a href="{% url 'posts:post_create' %}?category={{category}}"
    ><i id="pencil" class="fas fa-edit"></i
  ></a>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  axios.defaults.xsrfCookieName = "csrftoken";
  axios.defaults.xsrfHeaderName = "X-CSRFToken";
  const category = "{{category}}";
</script>
<script src="{% static 'js/infiniteScroll.js' %}"></script>
<script src="{% static 'js/rateToStar.js' %}"></script>
{% endblock local_block %}
