@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;900&display=swap");

html,
body {
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3c3530+0,000000+100&0.65+0,0+100 */
  background: -moz-linear-gradient(
    top,
    rgba(60, 53, 48, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(60, 53, 48, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(60, 53, 48, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a63c3530', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.leftwrap {
  display: flex;
}
.rightwrap {
  display: flex;
}

.main_container {
  /* padding-top: 82px; */
}

.dropdown {
  position: relative;
  display: inline-block;
  height: 50px;
  margin-left: 10px;
  padding-top: 25px;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.445);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a:hover {
  color: #9ebf56;
  text-shadow: 1px 1px 1px gray;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.loge {
  color: white;
}

.loge:hover {
  color: #f16b6f;
  text-shadow: 2px 2px 2px gray;
}

.dtn {
  color: white;
  text-decoration: none;
}

.dtn:hover {
  color: #9ebf56;
  text-shadow: 1px 1px 1px gray;
}

#dtn {
  color: white;
  text-decoration: none;
  font-size: 15px;
  margin-right: 10px;
}

a {
  text-decoration: none;
}

.dtn2 {
  display: none;
  color: white;
  margin-right: 10px;
}

.dtn2:hover {
  color: #9ebf56;
  text-shadow: 1px 1px 1px gray;
}

@media (max-width: 695px) {
  .dtn {
    display: none;
  }
  #dtn {
    display: none;
  }
  .dtn2 {
    display: block;
  }
  .dropdown-content {
    right: 7px;
    font-size: 15px;
  }
  .admin {
    padding: 12px 16px;
    font-size: 12px;
  }
}
