header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightwrap {
  display: flex;
}

.main_container {
  /* padding-top: 82px; */
}

.dropdown {
  position: relative;
  display: inline-block;
  height: 50px;
  margin-left: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.login{
  text-decoration:none;
  color:white;
}

.sign_up{
  text-decoration:none;
  color:white;
}

.logout{
  text-decoration:none;
  color:white;
}

button.user_form{
  background:#AACD6E;
  color:#fff;
  border:none;
  position:relative;
  height:30px;
  font-size:15px;
  padding:0 2em;
  margin-left: 15px;
  margin-right: 15px;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}

button.user_form:hover{
  background:#fff;
  color:#1AAB8A;
}
button.user_form:before,button.user_form:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #9EBF56;
  transition:400ms ease all;
}
button.user_form:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button.user_form:hover:before,button.user_form:hover:after{
  width:100%;
  transition:800ms ease all;
}